table, tr, td, th {
  border: solid black 2px; 
  border-collapse: collapse
}

th{
  text-align: center;
  background-color: #aaaaaa; 
}

table {
  width: 100%;
}

.filled {
  background-color: red;
}

#edit-topic-menu {
  height: 50vh;
}

.button-div {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#topics-div {
  height: 50%;
  overflow: scroll;
}

#import-menu {
  text-align: center;
}

#json-to-import {
  width: 95%;
  margin-bottom: 9px;
}
